@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--gray-bg: rgb(217, 217, 217);
	--dark-gray-bg: rgb(134, 134, 134);
}

* {
	font-family: "Jost";
	font-size: 24px;
}

body {
	color: black;
	font-family: "Jost";
	margin: 0;
	background-color: rgb(67, 67, 67);
}

h3 {
	font-size: 64px;
	font-weight: normal;
}

.page-wrapper {
	display: flex;
	flex-flow: column;
	max-width: 1440px;
	margin-right: auto;
    margin-left: auto;
	background-color: white;
}

#zen-summary {
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 25px;
	background-color: var(--gray-bg);
}

#zen-benefits h3 {
	margin-top: 0;
}

header {
	height: 703px;
	background-image: url(/img/logo.png);
}

header h2, header h1 {
	white-space: nowrap;
    overflow: hidden;
	text-indent: 100%;
}

.intro div h3, .main div h3 {
	padding-left: 89px;
	margin-top: 0;
	margin-bottom: 25px;
	background-image: url(/img/lamp.png);
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: left center;
}

.page-wrapper .intro:not() {
	width: 1140px;
}

header[role="banner"] {
	width: 1440px;
}

div + .participation {
	background-position: center;
	background-size: 105%;
	background-color: var(--gray-bg);
	
}

.participation + .benefits {
	background-position: center;
	background-size: 105%;
	background-color: var(--gray-bg);
}

.participation h3:nth-child(1), .beneftis h3:nth-child(1) {
	display: flex;
}

.participation p:last-child {
	margin: 0;
}

aside.sidebar {
	color: white;
	width: 300px;
	align-self: flex-end;
	justify-content: flex-start;
	background-image: url(/img/sidebar.png);
	position: absolute;
	top: 718px;
	height: 2600px;
}

aside.sidebar .wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: black;
}

aside.sidebar .wrapper > div {
	display: flex;
	flex-flow: column nowrap;
}

.select, .archives, .resources {
	font-size: 36px;
	align-self: center;
}

nav > ul {
	padding-left: 25px;
	padding-right: 15px;
}

.zen-resources ul:nth-child(2) {
	padding-left: 25px;
}

aside.sidebar li {
	list-style: none;
}

.main.supporting {
	width: 1140px;
}

.intro:not(header) {
	width: 1140px;
}

div.main div.participation, div.main div.benefits {
	padding-left: 25px;
}

div.main div.participation {
	padding-top: 25px;
}

div.main div.benefits {
	padding-bottom: 25px;
}

div.main div:nth-child(0) {
	padding-left: 25px;
}

.preamble, .explanation {
	padding-left: 25px;
}

div.summary {
	padding-left: 25px;
}

div.main div:nth-last-child(1) {
	padding-left: 25px;
}

.benefits p:last-child {
	margin-bottom: 0;
}

.requirements {
	padding-left: 25px;
}

p:first-of-type::first-letter {
	font-weight: 500;
}

h3::first-line {
	font-weight: 400;
}

a:visited {
	color: lightskyblue;
}

a:hover {
	color: blue;
}

a:link {
	text-decoration: underline;
}

a:active {
	color: red;
}

a:not([href*="zengarden"]):hover::before {
	content: "";
	background-image: url(/img/cone.png);
	background-size: 15px 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
}

a[href^="http"]:hover, a[href^="https"]:hover {
	color:lightblue;
}

a[href$="/"]:hover, a[href$="page1"]:hover {
	color:lightblue;
}

a[href$=".css"]:hover::before {
	content: "";
	background-image: url(/img/css.png);
	background-size: 15px 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
}

a[href$="index"]:hover::before {
	content: "";
	background-image: url(/img/html.png);
	background-size: 15px 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
}

abbr[title]:not(a abbr:first-child) {
	color:darkgoldenrod;
	border: none;
	text-decoration: none;
	text-decoration-style: none;
}

abbr:hover::after {
	color: blue;
	padding-left: 5px;
	padding-right: 5px;

	content: attr(title);
}

[class|="design"]:not(div):hover, [class|="designer"]:not(div):hover {
	background-color: yellow;
	color: black;
}

abbr:only-child:hover::after {
	position: absolute;
	right: 100%;
	color: white;
	font-size: 18px;
	background-color: black;
	content: attr(title);
	min-width: 200px;
}

.design-selection nav ul li:last-of-type::after {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
	top: 675px;
	left: 75px;
    background: white;
}

.design-archives nav ul li:last-of-type::after {
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
	top: 915px;
	left: 75px;
    background: white;
}

footer {
	background-color: var(--dark-gray-bg);
	padding-left: 25px;
}

aside a:nth-of-type(2) {
	color: darkblue;
}

aside a:only-of-type {
	text-decoration: none;
}

.requirements p:nth-last-child(1) {
	background-color: var(--gray-bg);
	background-size: cover;
	margin-left: -25px;
	padding-left: 25px;
	padding-bottom: 25px; 
	margin-bottom: -25px;
}

h3 ~ p {
	font-weight: 300;
}

p[role="contentinfo"] {
	color: red;
}

::selection {
	background-color: yellow;
}
