@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
	font-family: "Jost";
	font-size: 20px;
}

body {
	color: black;
	font-family: "Jost";
	margin: 0;
}

h3 {
	font-size: 64px;
	font-weight: normal;
}

.page-wrapper {
	max-width: 1440px;
}

#zen-summary {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: rgb(217, 217, 217);
}

#zen-benefits h3 {
	margin-top: 0;
}

header {
	height: 703px;
	background-image: url(/img/logo.png);
}

header h2, header h1 {
	white-space: nowrap;
    overflow: hidden;
	text-indent: 100%;
}

div h3 {
	margin: 25px;
}

.participation {
	box-shadow: 0px 0px 10px 0px #A8A8A8;
}

.benefits {
	box-shadow: 0px 9px 15px 0px #A8A8A8;
}

.participation, .benefits {
	background-position: center;
	background-size: 105%;
	background-color: rgb(217, 217, 217);
	
}

.participation h3:nth-child(1), .beneftis h3:nth-child(1) {
	display: flex;
}

.participation p:last-child {
	margin: 0;
}

