@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
	font-family: "Jost";
	font-size: 24px;
}

body {
	color: black;
	font-family: "Jost";
	margin: 0;
}

h3 {
	font-size: 64px;
	font-weight: normal;
}

.page-wrapper {
	display: flex;
	flex-flow: column;
	max-width: 1440px;
	margin-right: auto;
    margin-left: auto;
}

#zen-summary {
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 25px;
	background-color: rgb(217, 217, 217);
}

#zen-benefits h3 {
	margin-top: 0;
}

header {
	height: 703px;
	background-image: url(/img/logo.png);
}

header h2, header h1 {
	white-space: nowrap;
    overflow: hidden;
	text-indent: 100%;
}

.intro div h3, .main div h3 {
	padding-left: 89px;
	margin-top: 0;
	margin-bottom: 25px;
	background-image: url(/img/lamp.png);
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: left center;
}

.page-wrapper .intro:not() {
	width: 1140px;
}

header[role="banner"] {
	width: 1440px;
}

.participation, .benefits {
	background-position: center;
	background-size: 105%;
	background-color: rgb(217, 217, 217);
	
}

.participation h3:nth-child(1), .beneftis h3:nth-child(1) {
	display: flex;
}

.participation p:last-child {
	margin: 0;
}

aside.sidebar {
	color: white;
	width: 300px;
	align-self: flex-end;
	justify-content: flex-start;
	background-color: black;
	position: absolute;
	top: 718px;
}

aside.sidebar .wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

aside.sidebar .wrapper > div {
	display: flex;
	flex-flow: column nowrap;
}

.select, .archives, .resources {
	font-size: 36px;
	align-self: center;
}

nav > ul {
	padding-left: 25px;
	padding-right: 15px;
}

.zen-resources ul:nth-child(2) {
	padding-left: 25px;
}

aside.sidebar li {
	list-style: none;
}

.main.supporting {
	width: 1140px;
}

.intro:not(header) {
	width: 1140px;
}

div.main div.participation, div.main div.benefits {
	padding-left: 25px;
}

div.main div.participation {
	padding-top: 25px;
}

div.main div.benefits {
	padding-bottom: 25px;
}

div.main div:nth-child(0) {
	padding-left: 25px;
}

.preamble, .explanation {
	padding-left: 25px;
}

div.summary {
	padding-left: 25px;
}

div.main div:nth-last-child(1) {
	padding-left: 25px;
}

.benefits p:last-child {
	margin-bottom: 0;
}

.requirements h3:first-child {
	
}

.requirements {
	padding-left: 25px;
}

p:first-of-type::first-letter {
	font-weight: bold;
}

h3::first-line {
	font-weight: 400;
}

a:visited {
	color: darkgray;
}

a[title] {
	color: white;
}

a[href] {
	color: white;
}

a:hover {
	color: blue;
}

::selection {
	background-color: yellow;
}